// code source: https://www.w3schools.com/howto/howto_css_flip_image.asp
.Image{
    z-index: 1;
    img{
        max-width: 150px;
    }
    img:hover{
        cursor: pointer;
    }
}

.Image {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px; 
    img{
        border-radius: 50%;
    }
  }
  
  .Image-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .Image:hover .Image-inner {
    transform: rotateY(180deg);
  }
  
  .Image-front, .Image-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .Image-front {
    background-color: transparent;
    color: black;
  }
  
  .Image-back {
    display: flex;
    justify-content: center;
    align-items: center;

    clip-path: circle();
    border-radius: 50%;
    color: white;
    transform: rotateY(180deg);

    background-color: rgba(0,0,0, 0.2);
    a{
        background-color: transparent;
        font-size: 0.75rem;
    }
  }
