.TitrePrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        margin: 0.5rem;
        letter-spacing: 0.5rem;
        font-weight: 100;
        text-align: center;
        font-size: clamp(2rem, calc(-1rem + 12vw), 8rem);
    }

    div:last-of-type{
        width: 60%;
        p{
            text-align: justify;
        }
    }
}